<a href="https://colab.research.google.com/github/raimandvi/python_data_types/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Creating a tuple**

In [1]:
numbers = (10, 20, 30, 40)
print(numbers)

(10, 20, 30, 40)

**2. Accessing tuple elements**

In [2]:
fruits = ("apple","banana","cherry")
print(fruits[0])
print(fruits[-1])

apple
cherry

**3. Tuple Length**

In [3]:
numbers = (5,10,20)
print("Length of tuple: ", len(numbers))

Length of tuple:  3

**4. Tuple Packing and Unpacking**

In [4]:
student = ("Angel",22, "Data Engineer")

name, age, role = student

print(name)
print(age)
print(role)

Angel
22
Data Engineer

**5. Converting list to tuple**

In [5]:
numbers = [1,2,3,4,5]
num_tuple = tuple(numbers)
print(num_tuple)

(1, 2, 3, 4, 5)