<a href="https://colab.research.google.com/github/raimandvi/python_data_types/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Creating a tuple**

In [ ]:
numbers = (5, 10, 15, 20, 25)
print(numbers)

(5, 10, 15, 20, 25)

**2. Accessing Elements**

In [ ]:
fruits = ("Apple","Banana","Mango","Guava")
print(fruits[1])
print(fruits[-1])

Banana
Guava

**3. Looping through a tuple**

In [ ]:
for i in fruits:
  print(i)

Apple
Banana
Mango
Guava

**4. tuple Length**

In [ ]:
print("Length of the tuple is: ", len(fruits))

Length of the tuple is:  4

**5. Tuple packing and unpacking**

In [ ]:
person = ("Sundar", 55, "Data Engineer")
name, age, role = person

print(name)
print(age)
print(role)

Sundar
55
Data Engineer

**6. Converting list to tuple**

In [ ]:
s_no = [1,2,3,4,5]
no_tuple = tuple(s_no)
print(no_tuple)

(1, 2, 3, 4, 5)