<a href="https://colab.research.google.com/github/raimandvi/python_data_types/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Creating a set**

In [1]:
numbers = {10, 20, 30, 40}
print(numbers)

{40, 10, 20, 30}

**2. Sei with duplicate elements**

In [2]:
values = {1, 2, 2, 3, 3, 4}
print(values)

{1, 2, 3, 4}

**3. Empty set**

In [5]:
emp_set = set()  # if we use {} then it creates dictionary not set
print(type(emp_set))

<class 'set'>

**4. Adding, removing elements**

In [7]:
# Adding a element to a set:
fruits = {"apple", "banana"}
fruits.add("cherry")
print(fruits)

# Removing element from a set
fruits.remove("banana")
print(fruits)
fruits.discard("mango")
print(fruits)

{'cherry', 'banana', 'apple'}
{'cherry', 'apple'}
{'cherry', 'apple'}

**5. Set operations(Union, intersection, difference)**

In [8]:
a = {2,4,5}
b = {3,5,2}

print(a|b)
print(a&b)
print(a-b)

{2, 3, 4, 5}
{2, 5}
{4}

**6. Membership test**

In [9]:
students = {'Ali', 'Bob', 'charlie'}

print('Ali' in students)
print('Dev' not in students)

True
True

**7. Converting list to set**

In [11]:
numbers = [1,2,2,4,5,6,4,5,6,8,9]
set_list = set(numbers)
print(set_list)

{1, 2, 4, 5, 6, 8, 9}